
@font-face {
  font-family: "Quicksabnd";
  src: url("../fonts/Quicksaand-Regular.otf") format("opentype");
}

p {
  font-family:"Quicksband", sans-serif;
}

body {
  zoom:0.8;
}

button:focus {
  outline:0;
}

table { 
  margin-left: auto;
  margin-right: auto;
}

.file_upload > input {
  display: none;
}

.input {
  margin-left: 115px;
  display:inline-block;
}
